[submodule "wine"]
	path = wine
	url = https://github.com/wundervrc/wine-cachyos-rtsp.git
[submodule "meson"]
	path = meson
	url = https://github.com/mesonbuild/meson.git
[submodule "nvidia-libs/dxvk-nvapi"]
	path = nvidia-libs/dxvk-nvapi
	url = https://github.com/SveSop/dxvk-nvapi.git
	branch = experimental
[submodule "nvidia-libs/nvcuda"]
	path = nvidia-libs/nvcuda
	url = https://github.com/SveSop/nvcuda.git
[submodule "nvidia-libs/nvcuda32"]
	path = nvidia-libs/nvcuda32
	url = https://github.com/SveSop/nvcuda.git
	branch = 32bit_only
[submodule "nvidia-libs/nvenc"]
	path = nvidia-libs/nvenc
	url = https://github.com/SveSop/nvenc.git
[submodule "nvidia-libs/nvenc32"]
	path = nvidia-libs/nvenc32
	url = https://github.com/SveSop/nvenc.git
	branch = old-32-64_version
[submodule "nvidia-libs/wine-nvml"]
	path = nvidia-libs/wine-nvml
	url = https://github.com/Saancreed/wine-nvml.git
[submodule "nvidia-libs/wine-nvoptix"]
	path = nvidia-libs/wine-nvoptix
	url = https://github.com/SveSop/wine-nvoptix.git
[submodule "dxvk"]
	path = dxvk
	url = https://github.com/doitsujin/dxvk.git
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "fonts/liberation-fonts"]
	path = fonts/liberation-fonts
	url = https://github.com/liberationfonts/liberation-fonts
[submodule "steamrtdeps/libxml2"]
	path = steamrtdeps/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "steamrtdeps/libxkbcommon"]
	path = steamrtdeps/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "steamrtdeps/wayland-protocols"]
	path = steamrtdeps/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "steamrtdeps/libpcap"]
	path = steamrtdeps/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "steamrtdeps/libwebp"]
	path = steamrtdeps/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "steamrtdeps/pipewire"]
	path = steamrtdeps/pipewire
	url = https://github.com/PipeWire/pipewire.git
[submodule "steamrtdeps/xz"]
	path = steamrtdeps/xz
	url = https://github.com/tukaani-project/xz.git
[submodule "steamrtdeps/speex"]
	path = steamrtdeps/speex
	url = https://github.com/xiph/speex.git
[submodule "steamrtdeps/speexdsp"]
	path = steamrtdeps/speexdsp
	url = https://github.com/xiph/speexdsp.git
[submodule "steamrtdeps/flac"]
	path = steamrtdeps/flac
	url = https://github.com/xiph/flac.git
[submodule "gstreamer"]
	path = gstreamer
	url = https://github.com/GStreamer/gstreamer.git
[submodule "gst-orc"]
	path = gst-orc
	url = https://github.com/GStreamer/orc.git
[submodule "protonfixes"]
	path = protonfixes
	url = https://github.com/Open-Wine-Components/umu-protonfixes
[submodule "vkd3d-proton"]
	path = vkd3d-proton
	url = https://github.com/HansKristian-Work/vkd3d-proton
[submodule "OpenXR-SDK"]
	path = OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "dxvk-nvapi"]
	path = dxvk-nvapi
	url = https://github.com/jp7677/dxvk-nvapi
[submodule "vkd3d"]
	path = vkd3d
	url = https://gitlab.winehq.org/wine/vkd3d
[submodule "Vulkan-Headers"]
	path = Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "SPIRV-Headers"]
	path = SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "Vulkan-Loader"]
	path = Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
[submodule "gst-libav"]
	path = gst-libav
	url = https://github.com/GStreamer/gst-libav
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
[submodule "dav1d"]
	path = dav1d
	url = https://github.com/videolan/dav1d.git
[submodule "gst-plugins-rs"]
	path = gst-plugins-rs
	url = https://github.com/sdroege/gst-plugin-rs
[submodule "graphene"]
	path = graphene
	url = https://github.com/ebassi/graphene
[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "piper"]
	path = piper
	url = https://github.com/shaunren/piper.git
	branch = library
[submodule "openfst"]
	path = openfst
	url = https://github.com/alphacep/openfst
[submodule "kaldi"]
	path = kaldi
	url = https://github.com/alphacep/kaldi
	branch = vosk
[submodule "vosk-api"]
	path = vosk-api
	url = https://github.com/alphacep/vosk-api
[submodule "FEX"]
	path = FEX
	url = https://github.com/FEX-Emu/FEX/
[submodule "libsoup"]
	path = libsoup
	url = https://github.com/GNOME/libsoup.git
[submodule "extras/dxvk-sarek"]
	path = extras/dxvk-sarek
	url = https://github.com/pythonlover02/DXVK-Sarek.git
[submodule "extras/d7vk"]
	path = extras/d7vk
	url = https://github.com/WinterSnowfall/d7vk.git
[submodule "extras/dxvk-low-latency"]
	path = extras/dxvk-low-latency
	url = https://github.com/netborg-afps/dxvk-low-latency.git
[submodule "extras/vkd3d-low-latency"]
	path = extras/vkd3d-low-latency
	url = https://github.com/netborg-afps/vkd3d-low-latency.git
[submodule "extras/discord-rpc-bridge"]
	path = extras/discord-rpc-bridge
	url = https://github.com/enderice2/rpc-bridge.git
[submodule "vklayers/pyroveil"]
	path = vklayers/pyroveil
	url = https://github.com/HansKristian-Work/pyroveil.git
[submodule "vklayers/Vulkan-Utility-Libraries"]
	path = vklayers/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "vklayers/low_latency_layer"]
	path = vklayers/low_latency_layer
	url = https://github.com/Korthos-Software/low_latency_layer.git
[submodule "vklayers/vkbasalt"]
	path = vklayers/vkbasalt
	url = https://github.com/DadSchoorse/vkBasalt.git
